
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-height: 100vh;
/*	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.logo_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

.navbar {
	font-family: Arial, sans-serif;
}

/* NAV LEFT*/
.nav_left {
	position: fixed;
	top: 20px;
	left: 20px;
}

.nav_left a {
	text-decoration: none;
	padding: 10px;
	font-size: 14px;
	color: #000000DE;
}

/* NAV RIGHT*/
.nav_right_one{
	position: fixed;
	top: 20px;
	right: 120px;
	margin-right: 50px;
} 

.nav_right_two {
	display: flex;
	position: fixed;
	top: 10px;
	right: 10px;
}

.nav_right_one a {
	text-decoration: none;
	padding: 8px;
	font-size: 13px;
	color: #000000DE;
}

.nav_right_two i {
	color: rgb(94, 92, 92);
	font-size: 23px;
	padding-top: 7px;
	margin-right: 7px;
}

.nav_right_two .sign_in {
	background: #1A73E8;
	padding: 9px 23px;
	border-radius: 5px;
	color: white;
	border: none;
	margin: 0px 10px;
	font-size: 14px;
	width: 96px;
	height: 36px;

}


/* GOOGLE SEARCH BAR*/
input[type=text]{
	width: 584px;
	height: 46px;
	border: 2px solid #ecedee;
	border-radius: 50px;
	outline: none;
	margin-top: 30px;
} 

.search_bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 18px;
}


/* GOOGLE SEARCH BUTTONS*/
.button_container {
	display: flex;
	min-width: 244px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	

}

.button_style {
	padding: 8px;
	background-color: #f8f9fa;
	max-width: 244px;
	border: none;
	background: #F8F9FA;
	padding: 10px 26px;
	margin: 11px 4px;
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: #222222;
}